@model SpaceUber.Models.ReviewDetail

@{
    ViewBag.Title = "Details";
}
<body class="reviewdetail">


<h2>Details</h2>

<div>
    <h4>Your Review Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReviewId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    <button class="btn btn-info">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) 
    </button>
    <button class="btn btn-info">
    @Html.ActionLink("Back to List", "Index")
    </button>
</p>
</body>
